<div class="footer">
  <div class="icon">
    <img width="110" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" alt="OES">
  </div>
  <div class="content">
    <div class="info">
      <p>
        Online Exam Learning Pvt. Ltd. | Ahmedabad, India | onlineexam@oes.co | (079)-1223-4556
      </p>
    </div>
    <div class="info">
      <p class="links">
        <a href="#Terms">Terms</a> |
        <a href="#Privacy">Privacy</a> |
        <a href="#Copyright">Copyright</a> |
        <a href="#Trademarks">Trademarks</a> |
        <a href="#EmergencyInfo">Emergency Info</a>
      </p>
    </div>
    <div class="info last">
      <p>2018 &copy; All rights Reserved | Design by P-Qube&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <!-- <p class="links">
        <a href="#" class="fa fa-facebook"></a>&nbsp;
        <a href="#" class="fa fa-twitter"></a>&nbsp;
        <a href="#" class="fa fa-google"></a>&nbsp;
        <a href="#" class="fa fa-youtube"></a>&nbsp;
        <a href="#" class="fa fa-instagram"></a>&nbsp;
      </p> -->
    </div>
  </div>
</div>