<ul>
  <div class="links">
    <li class="homeIcon"><a routerLink="/admin/intro"><img src="src\favicon.ico" alt="home"></a></li>
    <li><a routerLink="/admin/intro">Home</a></li>
    <li><a routerLink="/admin/my-uploaded-tests">My Test</a></li>
    <!-- <li><a routerLink="/admin/review-test">Review Test</a></li> -->
    <li><a routerLink="/admin/upload-test">Upload Test</a></li>
  </div>
  <div class="userInfo">
    <li><a>Hi, {{username}}</a></li>
    <!-- need to change at the end -->
    <li><a routerLink="/admin/intro">Log Out</a></li>
  </div>
</ul>
