<ul>
  <div class="links">
    <li class="homeIcon"><a routerLink="/user/intro"><img src="src\favicon.ico" alt="home"></a></li>
    <li><a routerLink="/user/intro">Home</a></li>
    <li><a routerLink="/user/subcat/1">My Dashboard</a></li>
    <li><a (click)="getAllTests(1)">My Test</a></li>
    <li><a routerLink="/user/result">Results</a></li>
  </div>
  <div class="userInfo">
    <li><a>Hi, {{username}}</a></li>
    <!-- need to change at the end -->
    <li><a routerLink="/user/intro">Log Out</a></li>
  </div>
</ul>
